<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <title>长虹易嘉恩云服务部接口测试平台</title>
</head>
<body>
<div>
    <form class="bs-example bs-example-form" role="form">
        <div class="input-group">
            <input type="text" class="form-control">
            <input type="button" value="查询">
        </div>
        <div>
            <table class="table table-hover">
                <caption>股票查询结果</caption>
                <thead>
                <tr>
                    <th>股票名称</th>
                    <th>股票代码</th>
                    <th>当前价格</th>
                    <th>涨 跌</th>
                    <th>涨 跌(%)</th>
                    <th>成交量(手)</th>
                    <th>成交额(万)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Tanmay</td>
                    <td>3000585</td>
                    <td>52.11</td>
                    <td>-2.2</td>
                    <td>10%</td>
                    <td>20300</td>
                    <td>40005000</td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
</body>
</html>